example1/bin/Debug/netcoreapp3.0/Dapper.Contrib.dll
example1/bin/Debug/netcoreapp3.0/Dapper.dll
example1/bin/Debug/netcoreapp3.0/example1.deps.json
example1/bin/Debug/netcoreapp3.0/example1.dll
example1/bin/Debug/netcoreapp3.0/example1.exe
example1/bin/Debug/netcoreapp3.0/example1.pdb
example1/bin/Debug/netcoreapp3.0/example1.runtimeconfig.dev.json
example1/bin/Debug/netcoreapp3.0/example1.runtimeconfig.json
example1/bin/Debug/netcoreapp3.0/Microsoft.Win32.Registry.dll
example1/bin/Debug/netcoreapp3.0/System.Data.SqlClient.dll
example1/bin/Debug/netcoreapp3.0/System.Diagnostics.DiagnosticSource.dll
example1/bin/Debug/netcoreapp3.0/System.Runtime.CompilerServices.Unsafe.dll
example1/bin/Debug/netcoreapp3.0/System.Security.AccessControl.dll
example1/bin/Debug/netcoreapp3.0/System.Security.Principal.Windows.dll
example1/bin/Debug/netcoreapp3.0/System.Text.Encoding.CodePages.dll
example1/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
example1/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
example1/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netstandard2.0/Microsoft.Win32.Registry.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
example1/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
example1/obj/example1.csproj.nuget.cache
example1/obj/example1.csproj.nuget.dgspec.json
example1/obj/example1.csproj.nuget.g.props
example1/obj/example1.csproj.nuget.g.targets
example1/obj/project.assets.json
example1/obj/Debug/netcoreapp3.0/example1.AssemblyInfo.cs
example1/obj/Debug/netcoreapp3.0/example1.AssemblyInfoInputs.cache
example1/obj/Debug/netcoreapp3.0/example1.assets.cache
example1/obj/Debug/netcoreapp3.0/example1.csproj.CopyComplete
example1/obj/Debug/netcoreapp3.0/example1.csproj.FileListAbsolute.txt
example1/obj/Debug/netcoreapp3.0/example1.csprojAssemblyReference.cache
example1/obj/Debug/netcoreapp3.0/example1.dll
example1/obj/Debug/netcoreapp3.0/example1.exe
example1/obj/Debug/netcoreapp3.0/example1.pdb
